<a href="https://colab.research.google.com/github/pb-roshith/concrete-strenght-prediction/blob/main/ann.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import keras

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data.shape

(1030, 9)

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [10]:
concrete_data.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [12]:
columns = concrete_data.columns
predictor = concrete_data[columns[ columns != 'Strength']]
target = concrete_data['Strength']

In [13]:
predictor.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [16]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [17]:
predictor_norm = (predictor - predictor.mean()) / predictor.std()
predictor_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [18]:
predictor_norm.shape[1]

8

In [19]:
n_cols = predictor_norm.shape[1]

In [20]:
from keras.models import Sequential
from keras.layers import Dense

In [32]:
def regression_model():
  model = Sequential()
  model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
  model.add(Dense(50, activation='relu'))
  model.add(Dense(1))
  model.compile(optimizer='adam', loss='mean_squared_error')
  return model

In [33]:
model = regression_model()
model.fit(predictor_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - loss: 1642.4398 - val_loss: 1128.6576 - 1s/epoch - 61ms/step
Epoch 2/100
23/23 - 0s - loss: 1503.9534 - val_loss: 994.2133 - 222ms/epoch - 10ms/step
Epoch 3/100
23/23 - 0s - loss: 1289.5472 - val_loss: 788.6697 - 198ms/epoch - 9ms/step
Epoch 4/100
23/23 - 0s - loss: 965.9830 - val_loss: 539.2365 - 413ms/epoch - 18ms/step
Epoch 5/100
23/23 - 0s - loss: 607.9002 - val_loss: 321.6728 - 172ms/epoch - 7ms/step
Epoch 6/100
23/23 - 0s - loss: 352.8575 - val_loss: 206.8787 - 223ms/epoch - 10ms/step
Epoch 7/100
23/23 - 0s - loss: 252.1785 - val_loss: 178.0806 - 97ms/epoch - 4ms/step
Epoch 8/100
23/23 - 0s - loss: 232.3458 - val_loss: 171.3688 - 80ms/epoch - 3ms/step
Epoch 9/100
23/23 - 0s - loss: 217.6123 - val_loss: 168.5487 - 86ms/epoch - 4ms/step
Epoch 10/100
23/23 - 0s - loss: 208.0805 - val_loss: 165.6026 - 89ms/epoch - 4ms/step
Epoch 11/100
23/23 - 0s - loss: 200.1373 - val_loss: 160.6642 - 80ms/epoch - 3ms/step
Epoch 12/100
23/23 - 0s - loss: 192.9402 - val_loss: 158.0868 - 88ms/epoch - 4ms/step
Epoch 13/100
23/23 - 0s - loss: 187.8176 - val_loss: 156.1570 - 88ms/epoch - 4ms/step
Epoch 14/100
23/23 - 0s - loss: 182.0726 - val_loss: 153.4214 - 87ms/epoch - 4ms/step
Epoch 15/100
23/23 - 0s - loss: 177.3720 - val_loss: 152.3353 - 86ms/epoch - 4ms/step
Epoch 16/100
23/23 - 0s - loss: 173.2315 - val_loss: 150.4828 - 79ms/epoch - 3ms/step
Epoch 17/100
23/23 - 0s - loss: 169.5600 - val_loss: 146.5793 - 85ms/epoch - 4ms/step
Epoch 18/100
23/23 - 0s - loss: 165.8695 - val_loss: 148.2653 - 83ms/epoch - 4ms/step
Epoch 19/100
23/23 - 0s - loss: 162.4271 - val_loss: 145.2972 - 86ms/epoch - 4ms/step
Epoch 20/100
23/23 - 0s - loss: 159.6005 - val_loss: 144.2778 - 87ms/epoch - 4ms/step
Epoch 21/100
23/23 - 0s - loss: 156.8354 - val_loss: 144.8156 - 90ms/epoch - 4ms/step
Epoch 22/100
23/23 - 0s - loss: 153.7249 - val_loss: 144.4533 - 88ms/epoch - 4ms/step
Epoch 23/100
23/23 - 0s - loss: 151.2231 - val_loss: 143.8346 - 79ms/epoch - 3ms/step
Epoch 24/100
23/23 - 0s - loss: 148.6548 - val_loss: 142.7667 - 85ms/epoch - 4ms/step
Epoch 25/100
23/23 - 0s - loss: 147.0806 - val_loss: 140.0995 - 81ms/epoch - 4ms/step
Epoch 26/100
23/23 - 0s - loss: 144.0065 - val_loss: 141.6839 - 79ms/epoch - 3ms/step
Epoch 27/100
23/23 - 0s - loss: 143.1610 - val_loss: 141.3214 - 85ms/epoch - 4ms/step
Epoch 28/100
23/23 - 0s - loss: 140.5897 - val_loss: 142.4849 - 88ms/epoch - 4ms/step
Epoch 29/100
23/23 - 0s - loss: 139.0755 - val_loss: 139.9726 - 82ms/epoch - 4ms/step
Epoch 30/100
23/23 - 0s - loss: 136.4436 - val_loss: 140.8129 - 85ms/epoch - 4ms/step
Epoch 31/100
23/23 - 0s - loss: 135.9585 - val_loss: 143.3633 - 89ms/epoch - 4ms/step
Epoch 32/100
23/23 - 0s - loss: 133.2453 - val_loss: 138.9781 - 90ms/epoch - 4ms/step
Epoch 33/100
23/23 - 0s - loss: 130.9148 - val_loss: 141.0318 - 93ms/epoch - 4ms/step
Epoch 34/100
23/23 - 0s - loss: 129.1726 - val_loss: 140.8661 - 81ms/epoch - 4ms/step
Epoch 35/100
23/23 - 0s - loss: 127.5644 - val_loss: 139.1781 - 86ms/epoch - 4ms/step
Epoch 36/100
23/23 - 0s - loss: 125.0704 - val_loss: 137.4605 - 96ms/epoch - 4ms/step
Epoch 37/100
23/23 - 0s - loss: 123.4274 - val_loss: 141.8600 - 85ms/epoch - 4ms/step
Epoch 38/100
23/23 - 0s - loss: 121.7524 - val_loss: 139.8222 - 86ms/epoch - 4ms/step
Epoch 39/100
23/23 - 0s - loss: 119.4284 - val_loss: 139.2615 - 90ms/epoch - 4ms/step
Epoch 40/100
23/23 - 0s - loss: 117.2810 - val_loss: 137.4208 - 92ms/epoch - 4ms/step
Epoch 41/100
23/23 - 0s - loss: 115.0265 - val_loss: 136.4850 - 96ms/epoch - 4ms/step
Epoch 42/100
23/23 - 0s - loss: 112.3565 - val_loss: 136.2628 - 85ms/epoch - 4ms/step
Epoch 43/100
23/23 - 0s - loss: 110.9009 - val_loss: 137.6987 - 87ms/epoch - 4ms/step
Epoch 44/100
23/23 - 0s - loss: 109.3176 - val_loss: 133.6541 - 89ms/epoch - 4ms/step
Epoch 45/100
23/23 - 0s - loss: 105.4535 - val_loss: 136.9121 - 86ms/epoch - 4ms/step
Epoch 46/100
23/23 - 0s - loss: 102.6127 - val_loss: 133.2331 - 90ms/epoch - 4ms/step
Epoch 47/100
23/23 - 0s - loss: 99.8718 - val_loss: 134.0288 - 94ms/epoch - 4ms/step
Epoch 48/100
23/23 - 0s - loss: 97.9156 - val_loss: 129.7985 - 76ms/epoch - 3ms/step
Epoch 49/100
23/23 - 0s - loss: 94.3434 - val_loss: 130.4629 - 96ms/epoch - 4ms/step
Epoch 50/100
23/23 - 0s - loss: 91.5923 - val_loss: 124.7228 - 91ms/epoch - 4ms/step
Epoch 51/100
23/23 - 0s - loss: 88.4214 - val_loss: 128.4954 - 88ms/epoch - 4ms/step
Epoch 52/100
23/23 - 0s - loss: 85.4651 - val_loss: 119.8532 - 93ms/epoch - 4ms/step
Epoch 53/100
23/23 - 0s - loss: 82.5226 - val_loss: 121.2459 - 92ms/epoch - 4ms/step
Epoch 54/100
23/23 - 0s - loss: 80.0111 - val_loss: 121.6363 - 95ms/epoch - 4ms/step
Epoch 55/100
23/23 - 0s - loss: 76.6507 - val_loss: 120.3544 - 85ms/epoch - 4ms/step
Epoch 56/100
23/23 - 0s - loss: 73.8716 - val_loss: 120.7840 - 78ms/epoch - 3ms/step
Epoch 57/100
23/23 - 0s - loss: 71.7250 - val_loss: 125.4295 - 83ms/epoch - 4ms/step
Epoch 58/100
23/23 - 0s - loss: 68.9029 - val_loss: 118.2495 - 92ms/epoch - 4ms/step
Epoch 59/100
23/23 - 0s - loss: 66.9625 - val_loss: 119.1755 - 82ms/epoch - 4ms/step
Epoch 60/100
23/23 - 0s - loss: 64.9592 - val_loss: 124.1659 - 75ms/epoch - 3ms/step
Epoch 61/100
23/23 - 0s - loss: 62.8968 - val_loss: 117.3567 - 97ms/epoch - 4ms/step
Epoch 62/100
23/23 - 0s - loss: 61.0633 - val_loss: 119.8308 - 85ms/epoch - 4ms/step
Epoch 63/100
23/23 - 0s - loss: 59.8322 - val_loss: 116.7725 - 88ms/epoch - 4ms/step
Epoch 64/100
23/23 - 0s - loss: 58.2627 - val_loss: 120.9491 - 76ms/epoch - 3ms/step
Epoch 65/100
23/23 - 0s - loss: 56.4994 - val_loss: 129.8260 - 78ms/epoch - 3ms/step
Epoch 66/100
23/23 - 0s - loss: 55.3113 - val_loss: 111.3098 - 80ms/epoch - 3ms/step
Epoch 67/100
23/23 - 0s - loss: 53.6612 - val_loss: 124.3296 - 111ms/epoch - 5ms/step
Epoch 68/100
23/23 - 0s - loss: 52.2373 - val_loss: 118.9517 - 87ms/epoch - 4ms/step
Epoch 69/100
23/23 - 0s - loss: 50.8569 - val_loss: 128.7387 - 99ms/epoch - 4ms/step
Epoch 70/100
23/23 - 0s - loss: 49.5797 - val_loss: 120.6964 - 98ms/epoch - 4ms/step
Epoch 71/100
23/23 - 0s - loss: 48.8183 - val_loss: 131.7943 - 139ms/epoch - 6ms/step
Epoch 72/100
23/23 - 0s - loss: 47.8402 - val_loss: 122.7494 - 149ms/epoch - 6ms/step
Epoch 73/100
23/23 - 0s - loss: 46.6789 - val_loss: 132.2925 - 116ms/epoch - 5ms/step
Epoch 74/100
23/23 - 0s - loss: 46.2060 - val_loss: 125.4245 - 117ms/epoch - 5ms/step
Epoch 75/100
23/23 - 0s - loss: 45.3648 - val_loss: 131.9220 - 110ms/epoch - 5ms/step
Epoch 76/100
23/23 - 0s - loss: 44.2948 - val_loss: 132.3272 - 116ms/epoch - 5ms/step
Epoch 77/100
23/23 - 0s - loss: 43.3803 - val_loss: 133.8088 - 133ms/epoch - 6ms/step
Epoch 78/100
23/23 - 0s - loss: 42.9512 - val_loss: 134.9515 - 117ms/epoch - 5ms/step
Epoch 79/100
23/23 - 0s - loss: 42.1489 - val_loss: 132.6301 - 112ms/epoch - 5ms/step
Epoch 80/100
23/23 - 0s - loss: 41.5391 - val_loss: 130.1360 - 112ms/epoch - 5ms/step
Epoch 81/100
23/23 - 0s - loss: 40.8091 - val_loss: 133.0266 - 120ms/epoch - 5ms/step
Epoch 82/100
23/23 - 0s - loss: 40.1417 - val_loss: 134.1457 - 122ms/epoch - 5ms/step
Epoch 83/100
23/23 - 0s - loss: 39.9163 - val_loss: 141.6137 - 120ms/epoch - 5ms/step
Epoch 84/100
23/23 - 0s - loss: 39.3599 - val_loss: 133.2109 - 116ms/epoch - 5ms/step
Epoch 85/100
23/23 - 0s - loss: 39.3892 - val_loss: 139.0218 - 111ms/epoch - 5ms/step
Epoch 86/100
23/23 - 0s - loss: 38.6952 - val_loss: 140.5408 - 130ms/epoch - 6ms/step
Epoch 87/100
23/23 - 0s - loss: 38.0111 - val_loss: 141.3988 - 102ms/epoch - 4ms/step
Epoch 88/100
23/23 - 0s - loss: 37.5570 - val_loss: 129.4035 - 165ms/epoch - 7ms/step
Epoch 89/100
23/23 - 0s - loss: 37.5949 - val_loss: 160.8289 - 124ms/epoch - 5ms/step
Epoch 90/100
23/23 - 0s - loss: 37.8679 - val_loss: 147.0441 - 131ms/epoch - 6ms/step
Epoch 91/100
23/23 - 0s - loss: 36.9852 - val_loss: 135.4684 - 127ms/epoch - 6ms/step
Epoch 92/100
23/23 - 0s - loss: 36.4697 - val_loss: 147.0500 - 100ms/epoch - 4ms/step
Epoch 93/100
23/23 - 0s - loss: 35.7842 - val_loss: 133.6322 - 84ms/epoch - 4ms/step
Epoch 94/100
23/23 - 0s - loss: 36.2757 - val_loss: 147.5651 - 90ms/epoch - 4ms/step
Epoch 95/100
23/23 - 0s - loss: 36.0234 - val_loss: 148.0205 - 79ms/epoch - 3ms/step
Epoch 96/100
23/23 - 0s - loss: 35.3664 - val_loss: 143.9329 - 83ms/epoch - 4ms/step
Epoch 97/100
23/23 - 0s - loss: 34.9348 - val_loss: 146.7102 - 87ms/epoch - 4ms/step
Epoch 98/100
23/23 - 0s - loss: 34.8217 - val_loss: 138.7685 - 77ms/epoch - 3ms/step
Epoch 99/100
23/23 - 0s - loss: 34.2770 - val_loss: 142.8059 - 136ms/epoch - 6ms/step
Epoch 100/100
23/23 - 0s - loss: 34.2314 - val_loss: 137.2643 - 91ms/epoch - 4ms/step

In [38]:
model.predict([[2.476712,	-0.856472,	-0.846733,	-0.916319,	-0.620147,	0.862735,	-1.217079,	-0.279597]])

1/1 [==============================] - 0s 46ms/step

array([[67.375015]], dtype=float32)